<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UrlPrincipal" value="http://127.0.0.1:8080/" />
    <add key="DirectorioPrincipal" value="/Users/arturosanchez/Desktop/Project/VS/CGTry2/CGTry2/CGTry2" />
    <add key="NombreAplicacionCorto" value="ACG" />
    <add key="NombreAplicacion" value="Code Generator" />
    
    <add key="DirectorioSalida" value="/Users/arturosanchez/Desktop/Project/VS/CGTry2/CGTry2/CGTry2/Result" />
  </appSettings>Ï
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>